<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{% static "scheduling/css/login.css" %}">
    {% comment %} <link href="{% static "scheduling/css/home.css" %}" rel="stylesheet"> {% endcomment %}
</head>
<body>
    {% load static %}
    <div class="nav">
        <ul>
            <!-- <li><a href="">BLOG</a></li> -->
            <li><a href="\">Home</a></li>
            <li><a href="\login">Login</a></li>
            <li><a href="\signup">Register</a></li>
        </ul>
    </div>

    <div class="login">
        <form action="" method ="POST">
        {% csrf_token %}
        <h1>REGISTER</h1>
        <label for="Name">UserName</label>
        <input type="text" name="Name" id="Name">
        <label for="UserEmail">Email</label>
        <input type="text" name="UserEmail" id="UserEmail">
        <label for="UserPassword">Password</label>
        <input type="password" name="UserPassword" id="UserPassword">
        <label for="UserPassword">Confirm Password</label>
        <input type="password" name="UserPassword" id="UserPassword">
        <label for="Mobile">Mobile Number</label>
        <input type="tel" name="Mobile" id="Mobile">
        <button><a href="/login">SUBMIT</a></button>
        </form> 

    </div>
</body>
</html>